@model ParticipantsModel

@{
    ViewData["Title"] = "Add new Athlete";
}

<h2>Add new athlete</h2>

@using (Html.BeginForm("Create", "Athlete", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.AllAthletes[0].Name)
        @Html.TextBoxFor(x => x.AllAthletes[0].Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.AllAthletes[0].Surname)
        @Html.TextBoxFor(x => x.AllAthletes[0].Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.AllAthletes[0].CountryId, "Select country")
        @Html.DropDownListFor(x => x.AllAthletes[0].CountryId, new SelectList(Model.AllCountries, "Id", "Name"), "", new { @class = "form-control" })
    </div>

}